<header [ngClass]="{'scrolled': isScrolled}">
  <div class="big_bloc_header">
  <div class="bloc_left">
    <div class="bloc_logo_netflix">
      <img src="../assets/img/netflix-logo.png" alt="Logo Netflix">
    </div>
    <nav class="navigation">
      <ul>
        <li>Accueil</li>
        <li>Séries</li>
        <li>Films</li>
        <li>Nouveautés les plus regardées</li>
        <li>Ma liste</li>
        <li>Exporer par langue</li>
      </ul>
    </nav>
  </div>
  <div class="bloc_right">
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-solid fa-bell"></i>
    <div class="div_icone_user">
      <img src="../assets/img/icone-user.png" alt="Logo Netflix">
    </div>
  </div>

</div>
</header>
