* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  overflow-x: hidden; /* Empêche le scroll horizontal */
  font-family: 'Poppins', sans-serif;
  background-color: #141414;
}
ul,li{
  list-style: none;
}
body{
  overflow-x: hidden;

}

img{
  width: 100%;
}
app-header {
  background: none; /* Mettre le fond du header transparent */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


